<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdvh25GP5p1-ry03HtbZCCqJGvWmzTPZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>731426910051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBabyReveal</string>
	<key>PROJECT_ID</key>
	<string>my-baby-reveal</string>
	<key>STORAGE_BUCKET</key>
	<string>my-baby-reveal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731426910051:ios:bb8a80fad297277e4a2d56</string>
</dict>
</plist>